@mixin button_yellow($padding: 0.4rem 0.8rem) {
  background-color: $color-yellow;
  color: $color-gray-dark;
  padding: $padding;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: inset 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.5);
  }
}

@mixin button_gray($padding: 0.4rem 0.8rem) {
  background-color: $color-grayish;
  color: $color-gray-dark;
  padding: $padding;
  border: none;
  border-radius: 0.3rem;
}
