.search_container {
  margin-top: 2rem;
  display: flex;
  gap: 0.3rem;
}

.search_bar {
  width: 25rem;
  background-color: transparent;
  color: $color-whitish;
  padding: 0.4rem 0.8rem;
  border: solid 0.1rem $color-grayish;
  border-radius: 0.3rem;
}

.search_button {
  @include button_yellow;

  .search_emoji {
    font-size: 0.8rem;
  }
}

.page_status {
  margin-top: 1rem;
  color: $color-yellow;
  font-size: 1.3rem;
}

.results_table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border: solid 0.1rem $color-grayish;
  color: $color-whitish;

  tr {
    font-weight: 600;
    font-size: 1.5rem;

    &:nth-child(even) td {
      background-color: $color-gray-light;
    }
  }

  th,
  td {
    width: 6rem;
    padding: 1rem;
    text-align: left;
    line-height: 1.8rem;
    vertical-align: middle;
    border: solid 0.1rem $color-grayish;
  }

  th {
    background-color: $color-gray-light;
  }

  td {
    font-weight: 300;

    .name_link {
      color: $color-yellow;
    }

    .owner {
      display: flex;
      gap: 1rem;
    }

    .avatar_owner {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
    }
  }

  .favourites_button {
    @include button_yellow;
  }

  .no_results {
    vertical-align: middle;
    text-align: center;
  }
}

.pagination_container {
  margin-top: 2rem;
  color: $color-whitish;

  .pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    label {
      font-size: 1.3rem;
    }

    select {
      width: 25rem;
      background-color: transparent;
      color: $color-whitish;
      padding: 0.4rem 0.8rem;
      border: solid 0.1rem $color-grayish;
      border-radius: 0.3rem;
    }
  }

  .pagination_buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;

    button {
      @include button_yellow(0.7rem 0.8rem);
    }
  }
}
