.header_nav {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ul {
    display: flex;
    gap: 1.5rem;

    li {
      cursor: pointer;
      padding: 0.5rem 0.9rem;
      border: solid 0.1rem $color-grayish;
      border-radius: 0.3rem;
      text-align: center;
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        box-shadow: inset 0 0 0.4rem 0.1rem rgba(255, 255, 255, 0.5);
        background-color: $color-grayish;
      }
    }

    .header_nav_link {
      text-decoration: none;
      color: $color-whitish;
    }

    .header_nav_emoji {
      font-size: 0.8rem;
    }
  }
}

.home_hero_text {
  font-size: 3rem;
  font-weight: 600;
  color: $color-whitish;
  margin-top: 2rem;
}
